:root {
  --red-border: rgb(252, 75, 75);
  --white: #ffffff;
  --input-border: #acacac;
  --color-text: #555555;
  --color-text-secondary: #4e4e4e;
  --red-primary: rgb(255, 60, 60);
  --red-primary-hover: rgb(209, 45, 45);
  --red-primary-active: rgb(184, 3, 3);
  --alert-success: rgb(92, 180, 92);
}
